<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="IronPython" version="2.7.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="pythonnet" version="2.3.0-py35-dotnet" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" />
  <package id="TensorFlowSharp" version="1.2.2" targetFramework="net461" />
</packages>